
h1{font-size:36px} h2{font-size:30px} h3{font-size:24px} h4{font-size:20px} h5{font-size:18px} h6{font-size:16px}

html, body, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }

h1 {
    font-family: 'Alice', serif;
    font-variant: small-caps;
}

h2, h3 {
    font-family: 'Alice', serif;
}

.w3-theme-grape {
    color:#EDEDED !important;background-color:#856284 !important}
.w3-theme-lilac {
    color:#fff !important;background-color:#AF91B3 !important}
.w3-theme-charcoal {
    color:#DEDFDD !important;background-color:#4B4B4B !important}
.w3-theme-smoke {
    color:#fff !important;background-color:#6B6B6B !important}
.w3-theme-mist {
    color:#4B4B4B !important;background-color:#DEDFDD !important}
.w3-theme-silver {
    color:#4B4B4B !important;background-color:#EDEDED !important}

img {
    width: 80%;
    max-width: 600px;
    min-width: 450px;
}

.white-text {
    color: #fff;
}

header, footer {
}